
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer';
    width: auto;
    height: auto;
    
}

.header{
    
    grid-area: header;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
  
}
.imghead{
    width: 4vw;
    
}


.main{
    
    grid-area: main;
    background-color: #D6E6F2;
    display: grid;
    grid-template-areas:
    'me gitpage'
    'photos photos';
    width: auto;
    height: auto;
    
    
}

.me{
    grid-area: me;
    display: flex;
    flex-flow: column ;
    height: 80vh;
    border-right: 0.5px solid black;

}
.me img{
    width: 11vw;
    height: 15vh;
    border-radius: 50%;
    
}

@keyframes danpic {
    from{
        box-shadow: -2px -2px 5px black;
    }
    to{
        box-shadow: -7px -8px 5px black;
        height: 15vh;
        width: 11.5vw;
    }
    
}

.me img:hover{
    animation: danpic 2s infinite alternate;

}
.me h1{
    font-size:x-large;
    text-align:left;
    

}
.me p{
    text-align: center;
    font-size: medium;
    

}

.gitpage{
    grid-area: gitpage;
    flex-flow: column;
    height: 80vh;
    display: flex;
}

.gitpage h1{
    font-size: x-large;
    text-align: right;
    
}
.gitpage p{
    font-size: medium;
    text-align: center;
}
.gitpage a{
    text-decoration: none;
    color: crimson;
}
.gitpage img{
    width: 15vw;
    height: 18vh; 
    align-self: flex-start;
    padding-left: 20px;    
}
.photos{
    grid-area: photos;
    border: 1px solid black;
    background-color: BAD7DF;
    height: 15vh;
    display: flex;
}

.photos img{
    width: 13.6vw;
    height: 13vh;

}



.sidebar{
    width: 11vw;
    grid-area: sidebar;
    background-color: #B9D7EA;
    display: flex;
    flex-direction: column;
}
.sidebar p{
    text-align: center;
    align-self: center;

}

.sidebar a{
    text-decoration: none;
    color: black;
    text-align: center;
}
   
.footer{
    
    grid-area: footer;
    background-color: #3F72AF;
    display: grid;
    grid-template-areas:
    'phonenum phonenum'
    'email email';
}

.footer a{
    text-decoration: none;
    color: black;
}
.phonenum{
    display: flex;
    grid-area: phonenum;
    font-style: italic;
    font-weight: bolder;
    justify-content: center;

}

.email{
    display: flex;
    grid-area: email;
    font-style: italic;
    font-weight: bolder;
    align-items:baseline;
    justify-content: center;
    border-top: 1px  #000000;
    
}




