body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer';
    width: auto;
    height: auto;
}
.header{
    grid-area: header;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imghead{
    width: 4vw;
}
.main{
    grid-area: main;
    background-color: #D6E6F2;
    display: grid;
    grid-template-areas:
    'me gitpage'
    'photos photos';
    width: auto;
    height: auto;
}
.me{
    grid-area: me;
    display: flex;
    flex-flow: column ;
    height: auto;
}
.me img{
    width: 10vw;
    height: 11.5vh;
    border-radius: 50%; 
}
@keyframes danpic {
    from{
        box-shadow: 10px 10px 10px black;
    }
    to{
        box-shadow: 10px 10px 10px black;
        width: 10.5vw;
        height: 12vh;
    }
}
.me img:hover{
    animation: danpic 1.5s alternate;
}
.me h1{
    font-size:xx-large;
}
.me h2{
    font-size: large;
    text-align: center;
    text-decoration: underline;
}
.me p{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
}
.gitpage{
    grid-area: gitpage;
    flex-flow: column;
    height: auto;
    display: flex;
    border-left:0.5px solid black;
}
.gitpage h1{
    font-size:xx-large;
    text-align: right;
    padding-bottom: 2vh;
    direction: rtl;
}
.gitpage h2{
    font-size: large;
    text-align: center;
    text-decoration: underline;
}
.gitpage span{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    padding: 2vh;
}
.gitpage a{
    text-decoration: none;
    color: #30AADD;
    font-size:large;
    font-weight: bolder;
}
.gitpage img{
    width: 14vw;
    height:12vh; 
}
#photos{
    grid-area: photos;
    border: 1px solid black;
    background-color: BAD7DF;
    height: 15vh;
}
#photos img{
    width: 13.8vw;
    height: 14.8vh;
}
.sidebar{
    width: auto;
    grid-area: sidebar;
    background-color: #B9D7EA;
    display: flex;
    flex-direction: column;
}
.sidebar a{
    display: flex;
    flex-direction: column;
    padding-top: -2vh;
    text-decoration:none;
    color:#0044bc;
    font-size:2.5vh;
    text-align: center;
    border-bottom: 1px solid black
    
}
#Summary:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}
#work:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}
#army:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}#Hobbies:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}
.footer{
    grid-area: footer;
    background-color: #3F72AF;
    display: grid;
    grid-template-areas:
    'phonenum phonenum'
    'email email';
}
.footer a{
    text-decoration: none;
    color: black;
}
.phonenum{
    display: flex;
    grid-area: phonenum;
    font-style: italic;
    justify-content: center;
    height: 2vh;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 0.5vh;
    padding-bottom: 1.5vh;
}
#email{
    display: flex;
    grid-area: email;
    font-style: italic;
    font-weight: bolder;
    align-items:baseline;
    font-size: x-large;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}