body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    ' main main main sidebar'
    ' main main main sidebar'
    'footer footer footer footer';
    width: auto;
    height: auto;
}
.header{
    grid-area: header;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.imghead{
    width: 3vw;
}
.main{
    grid-area: main;
    background-color: #D6E6F2;
    display: grid;
    grid-template-areas:
    'gitpage me '
    'photos photos';
    width: auto;
    height: auto;
}
.me{
    grid-area: me;
    display: flex;
    flex-flow: column ;
    height: auto;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}
.me img{
    width: 10vw;
    height: 15vh;
    border-radius: 50%; 
}
@keyframes danpic {
    from{
        box-shadow: 0px 0px 10px black;
    }
    to{
        box-shadow: -5px -10px 10px black;
        width: 10.5vw;
        height: 15.5vh;
    }
}
.me img:hover{
    animation: danpic 1.5s alternate;
}
.me h1{
    font-size:x-large;
    direction: rtl;
    text-align: center;
}
.me h2{
    font-size: 4vh;
    text-align: center;
    text-decoration: underline;
    text-shadow:30px 30px 0px rgba(206,89,55,0);
    color: #1b529c;
}
.me p{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 5vh;
}
.gitpage{
    grid-area: gitpage;
    flex-flow: column;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gitpage h1{
    font-size:xx-large;
    text-align: center;
    direction: rtl;
}
.gitpage h2{
    font-size: 4vh;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-shadow:30px 30px 0px rgba(206,89,55,0);
    color: #1b529c;
}
.gitpage h3{
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 45vw;
}
.gitpage p{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 5vh;
    width: 35vw;
    padding-top: 2vh;
}
.gitpage a{
    text-decoration: none;
    color: #30AADD;
    font-size:3vh;
    font-weight: bolder;
}
.gitpage img{
    width: 14vw;
    height:15vh; 
}
.ynetimg{
    width: 20vw;
    height: 20vh;
    background-image:url(ynet.png);
    background-size: 100% 100%;
    border: 1px solid black;
}
.pianoimg{
    width: 20vw;
    height: 20vh;
    background-image:url(piano.png);
    background-size: 100% 100%;
    border: 1px solid black;
}
.animeimg{
    width: 20vw;
    height: 20vh;
    background-image:url(anime.png);
    background-size: 100% 100%;
    border: 1px solid black;
}
.photos{
    grid-area: photos;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4vh;
}
.photos p{
    padding-bottom: 2vh;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}
#photosimg{
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    animation: photos 15s linear alternate infinite;
}
@keyframes photos {
    0%{
        background-image: url(transpic.jpeg);
        background-size: 100% 100%;        
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
    }
    20%{
        background-image: url(transpic2.jpeg);
        background-size: 100% 100%;     
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    40%{
        background-image: url(transpic3.jpeg);
        background-size: 100% 100%;      
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
    }        
    60%{
        background-image: url(transpic4.jpeg);
        background-size: 100% 100%;        
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    80%{
        background-image: url(transpic5.jpeg);
        background-size: 100% 100%;      
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    100%{
        background-image: url(transpic6.jpeg);
        background-size: 100% 100%;        
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    }
.sidebar{
    width: auto;
    grid-area: sidebar;
    background-color: #3F72AF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}
.sidebar div{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    background-color: #035397;
    width: 8vw;
    top: 2vh;
    text-align: center;
    border: 2.5px solid #8FBDD3;
    padding-bottom: 2vh;
    padding-top: 3vh;
}
.sidebar a{
    color: #8FBDD3;
}
#Summary:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#work:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#army:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#Hobbies:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#gallery:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#projects:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #FA26A0;
    }
}
.footer{ 
    grid-area: footer;
    background-color: #3F72AF;
    display: grid;
    grid-template-areas:
    'phonenum phonenum'
    'email email';
}
.footer a{
    text-decoration: none;
    color: black;
}
.phonenum{
    display: flex;
    justify-content: center;
}
.phonenum img{
    display: flex;
    grid-area: phonenum;
    width: 3vw;
    height: 6vh;}
#email{
    display: flex;
    justify-content: center;
}
#email img{
    display: flex;
    grid-area: email;
    width: 4vw;
    height: 6vh;
}