body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    ' main main main sidebar'
    ' main main main sidebar'
    'footer footer footer footer';
    width: auto;
    height: auto;
}
.header{
    grid-area: header;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imghead{
    width: 4vw;
}
.main{
    grid-area: main;
    background-color: #D6E6F2;
    display: grid;
    grid-template-areas:
    'gitpage me '
    'photos me';
    width: auto;
    height: auto;
}
.me{
    grid-area: me;
    display: flex;
    flex-flow: column ;
    height: auto;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}
.me img{
    width: 10vw;
    height: 15vh;
    border-radius: 50%; 
}
@keyframes danpic {
    from{
        box-shadow: 0px 0px 10px black;
    }
    to{
        box-shadow: -5px -10px 10px black;
        width: 10.5vw;
        height: 15.5vh;
    }
}
.me img:hover{
    animation: danpic 1.5s alternate;
}
.me h1{
    font-size:x-large;
    direction: rtl;
    text-align: center;
}
.me h2{
    font-size: 4vh;
    text-align: center;
    text-decoration: underline;
}
.me p{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 5vh;
    width: 35vw;
}
.gitpage{
    grid-area: gitpage;
    flex-flow: column;
    height: auto;
    width: auto;
    display: flex;
    border-left:0.5px solid black;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    padding-left: 3vw;
    padding-right: 3vw;

}
.gitpage h1{
    font-size:xx-large;
    text-align: center;
    direction: rtl;

}
.gitpage h2{
    font-size: large;
    text-align: center;
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
    margin-top: -1vh;    
}
.gitpage h3{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 5vh;
}
.gitpage p{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 4vh;
    width: 35vw;
}
.gitpage a{
    text-decoration: none;
    color: #30AADD;
    font-size:xx-large;
    font-weight: bolder;
}
.gitpage img{
    width: 14vw;
    height:12vh; 
}
.photos{
    grid-area: photos;
    background-color: BAD7DF;
    height: 15vh;
    display: flex;
    flex-direction: row;
}

.photos{
    display: flex;
    align-items: flex-end;
    align-self: center;
    align-content: center;
    justify-content: center;
}
#photosimg{
    width: 40vw;
    height: 30vh;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    animation: photos 6s linear  ;
    animation-direction:alternate-reverse ;
    animation-iteration-count: infinite;
    }
@keyframes photos {
    0%{
        background-image: url(transpic.jpeg);
        background-repeat: no-repeat; 
        background-size: 100% 100%;        
        
    }
    25%{
        background-image: url(transpic2.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
        }
    50%{
        background-image: url(transpic3.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
    }        
    75%{
        background-image: url(transpic4.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
        }
    100%{
        background-image: url(transpic5.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
        }
}
.sidebar{
    width: auto;
    grid-area: sidebar;
    background-color: #77ACF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.sidebar div{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    margin-top: 2vh;
    background-color: #30AADD;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.sidebar a{
    color: white;
}
#Summary:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#work:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
#army:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}#Hobbies:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #D32D2D;
    }
}
.footer{ 
    grid-area: footer;
    background-color: #3F72AF;
    display: grid;
    grid-template-areas:
    'phonenum phonenum'
    'email email';
}
.footer a{
    text-decoration: none;
    color: black;
}
.phonenum{
    display: flex;
    justify-content: center;
}
.phonenum img{
    display: flex;
    grid-area: phonenum;
    width: 4vw;
    height: 7vh;}
.email{
    display: flex;
    justify-content: center;
}
.email img{
    display: flex;
    grid-area: email;
    width: 5vw;
    height: 7vh;
}