body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar sidebar sidebar sidebar'
    'main main main main'
    'footer footer footer footer';
    width: auto;
    height: auto;
}
.header{
    grid-area: header;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imghead{
    width: 7vw;
}
.main{
    grid-area: main;
    background-color: #D6E6F2;
    display: grid;
    grid-template-areas:
    'gitpage me'
    'photos photos';
    width: auto;
    height: auto; 
    display: flex;
    align-self: center;
    justify-content: center;   
    flex-direction: column; 
    align-items: center;
}
.me{
    grid-area: me;
    order: 1;
    
}
.me img{
    width: 22vw;
    height: 12vh;
    border-radius: 50%;
}
@keyframes danpic {
    from{
        box-shadow: 4px 4px 5px black;
    }
    to{
        box-shadow: 4px 4px 5px black;
        height: 12.5vh;
        width: 22.5vw;
    }
}
.me img:hover{
    animation: danpic 2s alternate;
}
.me h1{
    font-size:medium;
    padding: 1vw;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.me h2{
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    padding-left: 5vw;
    padding-right: 5vw;
    text-shadow:30px 30px 0px rgba(206,89,55,0);
    color: #1b529c;
}
.me p{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    line-height: 2vh;
    padding-left: 7vw;
    padding-right: 7vw;
}
.gitpage{
    grid-area: gitpage;
    flex-flow: column;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    order:2;
}
.gitpage h1{
    font-size:medium;
    text-align: center;
    direction: rtl;
}
.gitpage h2{
    font-size: large;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    text-shadow:30px 30px 0px rgba(206,89,55,0);
    color: #1b529c;
}
.gitpage h3{
    font-size: medium;
    text-align: center;
    margin-top: -1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.gitpage p{
    font-size: 2vh;
    padding-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding-left: 7vw;
    padding-right: 7vw;
    line-height: 43h;
}
.gitpage a{
    text-decoration: none;
    color: #30AADD;
    font-size:large;
    font-weight: bolder;
}
.gitpage img{
    width: 26vw;
    height: 11vh; 
}
.ynetimg{
    width: 35vw;
    height: 13vh;
    background-image:url(ynet.png);
    background-size: 100% 100%;
    border: 1px solid black;
}
.pianoimg{
    width: 35vw;
    height: 13vh;
    background-image:url(piano.png);
    background-size: 100% 100%;
    border: 1px solid black;
}
.animeimg{
    width: 35vw;
    height: 13vh;
    background-image:url(anime.png);
    background-size: 100% 100%;
    border: 1px solid black;
}
.photos{
    display: flex;
    flex-direction: column;
    order: 3;
    padding-bottom: 2vh;
}
.photos p{
    font-size: medium;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}
#photosimg{
    width: 40vw;
    height: 20vh;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    animation: photos 15s linear alternate infinite;
}
@keyframes photos {
    0%{
        background-image: url(transpic.jpeg);
        background-size: 100% 100%;        
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
    }
    20%{
        background-image: url(transpic2.jpeg);
        background-size: 100% 100%;     
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    40%{
        background-image: url(transpic3.jpeg);
        background-size: 100% 100%;      
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
    }        
    60%{
        background-image: url(transpic4.jpeg);
        background-size: 100% 100%;        
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    80%{
        background-image: url(transpic5.jpeg);
        background-size: 100% 100%;      
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    100%{
        background-image: url(transpic6.jpeg);
        background-size: 100% 100%;        
        box-shadow: 0px 0px 0px 8px #7e9ef6, 0px 0px 0px 10px #7a9bf5, 0px 0px 0px 18px #a0b7f7, 0px 0px 0px 25px #c4d2f8, 0px 0px 0px 32px #DADDDA,  0px 0px 0px 0px rgba(65,103,255,0);
        }
    }
.sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: #77ACF1;
    justify-content: space-between;
    padding-bottom: 0.4vh;
    text-decoration: none;
}
.sidebar a{
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-decoration-color: white;
    font-size: medium;
    width: 100%;
    text-align: center;   
    text-decoration: none;
}
.sidebar div{
    display: flex;
}
#Summary:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #FA26A0;
    }
}
#work:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #FA26A0;
    }
}
#army:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #FA26A0;
    }
}#Hobbies:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #FA26A0;
    }
}
#projects:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: #FA26A0;
    }
}
.footer{ 
    grid-area: footer;
    background-color: #3F72AF;
    display: grid;
    grid-template-areas:
    'phonenum phonenum'
    'email email';
}
.footer a{
    text-decoration: none;
    color: black;
}
.phonenum{
    display: flex;
    justify-content: center;
}
.phonenum img{
    display: flex;
    grid-area: phonenum;
    width: 5vw;
    height: 5vh;
}
#email{
    display: flex;
    justify-content: center;
}
#email img{
    display: flex;
    grid-area: email;
    width: 5vw;
    height: 5vh;
}