body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar sidebar sidebar sidebar'
    'main main main main'
    'footer footer footer footer';
    width: auto;
    height: auto;
}
.header{
    grid-area: header;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imghead{
    width: 7vw;
}
.main{
    grid-area: main;
    background-color: #D6E6F2;
    display: grid;
    grid-template-areas:
    'me gitpage'
    'me photos';
    width: auto;
    height: auto; 
    
}
.me{
    grid-area: me;
    display: flex;
    flex-flow: column ;
    height: a;
}
.me img{
    width: 15vw;
    height: 8vh;
    border-radius: 50%;
}
@keyframes danpic {
    from{
        box-shadow: 2px 2px 5px black;
    }
    to{
        box-shadow: 2px 2px 5px black;
        height: 8.5vh;
        width: 15.5vw;
    }
}
.me img:hover{
    animation: danpic 2s alternate;
}
.me h1{
    font-size:medium;
    padding: 1vw;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.me h2{
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    padding-left: 5vw;
    padding-right: 5vw;
}
.me p{
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin-top: -1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 2vh;
    width: 38vw;
}
.gitpage{
    grid-area: gitpage;
    flex-flow: column;
    height: auto;
    display: flex;
    border-left: 0.5px solid black;
    align-items: center;
    text-align: center;

}
.gitpage h1{
    font-size:medium;
    text-align: center;
    direction: rtl;
    padding-bottom: 1.5vh;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.gitpage h2{
    font-size: large;
    text-align: center;
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.gitpage h3{
    font-size: medium;
    text-align: center;
    margin-top: -1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.gitpage p{
    font-size: small;
    padding-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding-left: 5vw;
    padding-right: 5vw;


}
.gitpage a{
    text-decoration: none;
    color: #30AADD;
    font-size:large;
    font-weight: bolder;
}
.gitpage img{
    width: 17vw;
    height: 8vh; 
}
/* .photos{
    grid-area: photos;
    background-color: #BAD7DF;
    height: 15vh;
    display: flex;
    flex-direction: row;
} */


#photosimg{
    width: 40vw;
    height: 20vh;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    animation: photos 6s linear  ;
    animation-direction:alternate-reverse ;
    animation-iteration-count: infinite;
    text-align: center;
    margin-bottom: 5vh;
    margin-left: 5vw;
}
@keyframes photos {
    0%{
        background-image: url(transpic.jpeg);
        background-repeat: no-repeat; 
        background-size: 100% 100%;        
       
    }
    25%{
        background-image: url(transpic2.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
        }
    50%{
        background-image: url(transpic3.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
    }        
    75%{
        background-image: url(transpic4.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
        }
    100%{
        background-image: url(transpic5.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
        }
}
.sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: #77ACF1;
    justify-content: space-between;
    padding-bottom: 0.4vh;
    text-decoration: none;
}

.sidebar a{
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-decoration-color: white;
    font-size: medium;
    width: 100%;
    text-align: center;   
    text-decoration: none;
 
}
.sidebar div{
    display: flex;
}
#Summary:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}
#work:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}
#army:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}#Hobbies:target{
    animation: target 2s alternate;
}
@keyframes target {
    from{ color: #000000;}
    to{
        color: rgb(228, 123, 123);
    }
}
.footer{ 
    grid-area: footer;
    background-color: #3F72AF;
    display: grid;
    grid-template-areas:
    'phonenum phonenum'
    'email email';
}
.footer a{
    text-decoration: none;
    color: black;
}
.phonenum{
    display: flex;
    justify-content: center;
}
.phonenum img{
    display: flex;
    grid-area: phonenum;
    width: 5vw;
    height: 5vh;
}
.email{
    display: flex;
    justify-content: center;
}
.email img{
    display: flex;
    grid-area: email;
    width: 5vw;
    height: 5vh;
}